.pageLayout{
  min-height: 100%;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 100px 1fr auto;
  margin: 0 var(--space-small);
}
.header{
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}
.body{
  grid-row: 2 / 3;
  grid-column: 1 / 4;
}
.footer{
  grid-row: 3 / 4;
  grid-column: 1 / 4;
}
.header,
.body,
.footer{
  position: relative;
}
.header::before,
.body::before,
.footer::before{
  content: '';
  height: 100%;
  width: 100vw;
  display: block;
  position: absolute;
  top: 0;
  left: calc((100% - 100vw) / 2);
  background-color: inherit;
  z-index: -1;
}
@media only screen and (min-width: 980px){
  .pageLayout{
    grid-template-columns: 1fr 960px 1fr;
  }
  .header{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  .body{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  .footer{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }
}
@media only screen and (min-width: 1200px){
  .pageLayout{
    margin: 0;
    grid-template-columns: 1fr 1024px 1fr;
  }
}
